The purpose of this data science project is to come up with a predictive model for pothole location while utilizing the existing pothole data and weather forecast data. If potholes could be predicted it could allow for better planning for commuters and also better planning for the city to distribute resources more effectively. The City of Houston has a next day policy for pothole repairs.

## Imports

Importing used dependencies

In [91]:
#Import pandas, matplotlib.pyplot, and seaborn in the correct lines below
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import datetime as dt
import time

## Objectives

* Do you think you may have the data you need to tackle the desired question?
    * Have you identified the required target value?
    * Do you have potentially useful features?
* Do you have any fundamental issues with the data?

## Loading Pothole Data

In [2]:
# The pothole data is supplied by the City of Houston Pothole record site. It is broken down into years. Iterating through
# years and appending a Pandas table should populate the data
pothole_years = [datayear for datayear in range(2011,dt.date.today().year +1)]
pothole_URL_list = ['https://hfdapp.houstontx.gov/311/311-Public-Data-Extract-' + str(year) + '-clean.txt' for year in pothole_years]
start = time.time()
pothole_df_list = [pd.read_csv(url,sep = "|",error_bad_lines=False, index_col=0) for url in pothole_URL_list]
end = time.time()
print(end - start)

b'Skipping line 99736: expected 29 fields, saw 30\n'
b'Skipping line 142010: expected 29 fields, saw 30\nSkipping line 142599: expected 29 fields, saw 30\nSkipping line 153313: expected 29 fields, saw 30\n'
b'Skipping line 191143: expected 29 fields, saw 30\nSkipping line 193671: expected 29 fields, saw 30\n'
b'Skipping line 207631: expected 29 fields, saw 30\nSkipping line 219597: expected 29 fields, saw 30\nSkipping line 225109: expected 29 fields, saw 30\n'
b'Skipping line 277039: expected 29 fields, saw 30\n'
b'Skipping line 78774: expected 29 fields, saw 31\n'
b'Skipping line 105843: expected 29 fields, saw 30\n'
b'Skipping line 134105: expected 29 fields, saw 30\n'
b'Skipping line 168993: expected 29 fields, saw 30\n'
b'Skipping line 198472: expected 29 fields, saw 30\nSkipping line 220143: expected 29 fields, saw 30\n'
b'Skipping line 272900: expected 29 fields, saw 30\nSkipping line 282458: expected 29 fields, saw 30\n'
b'Skipping line 339869: expected 29 fields, saw 31\nSkipping line 351878: expected 29 fields, saw 30\n'
b'Skipping line 9973: expected 29 fields, saw 30\nSkipping line 16333: expected 29 fields, saw 30\n'
b'Skipping line 211061: expected 29 fields, saw 30\n'
b'Skipping line 294293: expected 29 fields, saw 30\n'
b'Skipping line 327920: expected 29 fields, saw 30\n'
b'Skipping line 124857: expected 29 fields, saw 30\n'
b'Skipping line 86853: expected 29 fields, saw 31\n'
b'Skipping line 124907: expected 29 fields, saw 30\n'
b'Skipping line 144491: expected 29 fields, saw 30\n'
b'Skipping line 218646: expected 29 fields, saw 31\n'
b'Skipping line 349868: expected 29 fields, saw 30\n'

242.2931990623474

In [3]:
#Create set of years and pothole df's to create one dictionary
pothole_df_sets = zip(pothole_years,pothole_df_list)
pothole_df_dict = dict(pothole_df_sets)

In [4]:
#confirm keys of dicitionary of pothole dataframes
pothole_df_dict.keys()

dict_keys([2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020])

In [5]:
#visualize dataframe shapes in a dictionary 
{year : pothole_df_dict[year].shape for year in pothole_years}

{2011: (35072, 28),
 2012: (294752, 28),
 2013: (313220, 28),
 2014: (321929, 28),
 2015: (343633, 28),
 2016: (361308, 28),
 2017: (364664, 28),
 2018: (399952, 28),
 2019: (395257, 28),
 2020: (318643, 28)}

The same number of columns for all imported pothole dataframes

In [6]:
#Calculate total number of rows across all dataframes
totalrows_pothole = sum([pothole_df_dict[year].shape[0] for year in pothole_years])
print(totalrows_pothole)
#29 rows skipped
29/totalrows_pothole * 100

3148430

0.0009210940055837353

0.0009% of the rows were skipped due to parsing issues where an incorrect number of fields were brought in than expected. This percentage is acceptable to move forward.

In [7]:
#Find if there are differences in headers between each pothole df
header_lists = [pothole_df_dict[year].columns for year in pothole_years]
column_compare = [set(header_lists[x]).difference(set(header_lists[x+1])) for x in range(len(pothole_years)-1)]
column_compare

[set(), set(), set(), set(), set(), set(), set(), set(), set()]

All headers appear the same.

In [8]:
#Check that data types are the same across pothole df's
dtypes_lists = [pothole_df_dict[year].dtypes for year in pothole_years]
dtypes_compare = [set(dtypes_lists[x]).difference(set(dtypes_lists[x+1])) for x in range(len(pothole_years)-1)]
dtypes_compare

[set(), set(), set(), set(), set(), set(), set(), set(), set()]

All data types for each pothole dataframe appear the same.

In [9]:
#Pothole dataframe combination
pothole_total_df_raw = pd.concat(pothole_df_list,axis=0)
pothole_total_df_raw.shape

(3148430, 28)

Total rows of combined pothole dataframes equals the sum of the individual dataframes. This give confidence that the rows properly merged.

## Loading Weather Data

In [11]:
# The weather data comes from 24 stations around the greater Houston area. A quick glance at the site showed various levels of
# data collection and varying dates of records starting. Data will be limited to the range of 1/1/2011 to present day to
# correlate with the pothole tracking start date

weather_stations_list = ['USC00414327', 'US1ARPY0002', 'USC00224265', 'USW00012977', 'US1MOFSA215', 'CA001073615', 'US1MOTX0041',
                       'US1TXHRR176', 'USC00234019', 'US1MOTX0007', 'USW00053910', 'US1TXHRR147', 'USC00414325', 'US1TXHRR165',
                       'USC00503731', 'US1TXHRR269', 'USW00012918', 'US1OHSH0011', 'USC00414333', 'US1MOTX0040', 'US1TXHRR209',
                       'USW00012960', 'USW00012975', 'US1TXHRR232']
weather_stations_URL_list = ['https://www.ncei.noaa.gov/access/services/data/v1?dataset=daily-summaries&stations=' 
                             + station 
                             + '&startDate=2011-01-01&endDate=2020-11-01&units=standard' for station in weather_stations_list]
weather_stations_df_list = [pd.read_csv(url,usecols = ['STATION','DATE','PRCP','TAVG','TMAX','TMIN','TOBS']) for url in weather_stations_URL_list]

In [12]:
#Check shape of one of the weather df's
weather_stations_df_list[0].shape

(3403, 7)

In [13]:
#Create set of stations and weather df's to create one dictionary
weather_df_sets = zip(weather_stations_list,weather_stations_df_list)
weather_df_dict = dict(weather_df_sets)

In [14]:
#confirm keys of dicitionary of weather dataframes
print(weather_df_dict.keys())
len(weather_df_dict.keys())

dict_keys(['USC00414327', 'US1ARPY0002', 'USC00224265', 'USW00012977', 'US1MOFSA215', 'CA001073615', 'US1MOTX0041', 'US1TXHRR176', 'USC00234019', 'US1MOTX0007', 'USW00053910', 'US1TXHRR147', 'USC00414325', 'US1TXHRR165', 'USC00503731', 'US1TXHRR269', 'USW00012918', 'US1OHSH0011', 'USC00414333', 'US1MOTX0040', 'US1TXHRR209', 'USW00012960', 'USW00012975', 'US1TXHRR232'])

24

In [15]:
#visualize dataframe shapes in a dictionary 
{station : weather_df_dict[station].shape for station in weather_stations_list}

{'USC00414327': (3403, 7),
 'US1ARPY0002': (2673, 7),
 'USC00224265': (2294, 7),
 'USW00012977': (3591, 7),
 'US1MOFSA215': (3283, 7),
 'CA001073615': (3429, 7),
 'US1MOTX0041': (279, 7),
 'US1TXHRR176': (2678, 7),
 'USC00234019': (3471, 7),
 'US1MOTX0007': (3580, 7),
 'USW00053910': (3591, 7),
 'US1TXHRR147': (1386, 7),
 'USC00414325': (3581, 7),
 'US1TXHRR165': (1883, 7),
 'USC00503731': (2093, 7),
 'US1TXHRR269': (407, 7),
 'USW00012918': (3592, 7),
 'US1OHSH0011': (3376, 7),
 'USC00414333': (3575, 7),
 'US1MOTX0040': (1317, 7),
 'US1TXHRR209': (2283, 7),
 'USW00012960': (3592, 7),
 'USW00012975': (3590, 7),
 'US1TXHRR232': (1498, 7)}

The same number of columns for all imported weather dataframes

In [16]:
#Calculate total number of rows across all dataframes
totalrows_weather = sum([weather_df_dict[station].shape[0] for station in weather_stations_list])
print(totalrows_weather)

64445

In [17]:
#Weather dataframe combination
weather_total_df_raw = pd.concat(weather_stations_df_list,axis=0)
weather_total_df_raw.shape

(64445, 7)

## Explore The Data and Cleaning

### Exploring the Data (Pothole)

In [18]:
#Explore the columns and initial data of the potholes
pothole_total_df_raw.head()

,SR LOCATION,COUNTY,DISTRICT,NEIGHBORHOOD,TAX ID,TRASH QUAD,RECYCLE QUAD,TRASH DAY,HEAVY TRASH DAY,RECYCLE DAY,...,SR CREATE DATE,DUE DATE,DATE CLOSED,OVERDUE,Title,x,y,LATITUDE,LONGITUDE,Channel Type
CASE NUMBER,,,,,,,,,,,,,,,,,,,,,
1100329481-101000461231,NaN,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,...,2011-11-09 01:24:57,2011-12-19 01:24:57,2011-12-29 20:33:19,10.80,Investigate minor main line break,NaN,NaN,Unknown,Unknown,Unknown
1100329484-101000461236,NaN,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,...,2011-11-09 02:12:52,2011-12-19 02:12:52,2011-12-29 20:33:53,10.76,Investigate minor main line break,NaN,NaN,Unknown,Unknown,Unknown
101000451923,"611 WALKER, HOUSTON TX 77002",Harris,I,DOWNTOWN,0010890000001,NaN,NaN,NaN,NaN,NaN,...,2011-11-09 05:15:37,2011-11-24 05:15:33,2011-11-09 05:28:13,-14.99,Contact Forestry to request a tree to plant in...,NaN,NaN,29.75989828,-95.36705705,Voice In
101000451924,"611 WALKER, HOUSTON TX 77002",Harris,I,DOWNTOWN,0010890000001,NaN,NaN,NaN,NaN,NaN,...,2011-11-09 05:17:50,2011-11-24 05:17:49,2011-11-09 05:28:02,-14.99,Contact Forestry to request a tree to plant in...,NaN,NaN,29.75989828,-95.36705705,Voice In
101000451925,"TEST, TEST",NaN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2011-11-09 05:28:52,2011-11-24 05:28:51,2012-10-23 10:21:29,334.20,Contact Forestry to request a tree to plant in...,NaN,NaN,NaN,NaN,Voice In

In [19]:
#Explore the columns
pothole_total_df_raw.columns

Index(['SR LOCATION', 'COUNTY', 'DISTRICT', 'NEIGHBORHOOD', 'TAX ID',
       'TRASH QUAD', 'RECYCLE QUAD', 'TRASH DAY', 'HEAVY TRASH DAY',
       'RECYCLE DAY', 'KEY MAP', 'MANAGEMENT DISTRICT', 'DEPARTMENT',
       'DIVISION', 'SR TYPE', 'QUEUE', 'SLA', 'STATUS', 'SR CREATE DATE',
       'DUE DATE', 'DATE CLOSED', 'OVERDUE', 'Title', 'x', 'y', 'LATITUDE',
       'LONGITUDE', 'Channel Type'],
      dtype='object')

In [20]:
#Check data types
pothole_total_df_raw.dtypes

SR LOCATION             object
COUNTY                  object
DISTRICT                object
NEIGHBORHOOD            object
TAX ID                  object
TRASH QUAD              object
RECYCLE QUAD            object
TRASH DAY               object
HEAVY TRASH DAY         object
RECYCLE DAY             object
KEY MAP                 object
MANAGEMENT DISTRICT     object
DEPARTMENT              object
DIVISION                object
SR TYPE                 object
QUEUE                   object
SLA                    float64
STATUS                  object
SR CREATE DATE          object
DUE DATE                object
DATE CLOSED             object
OVERDUE                float64
Title                   object
x                      float64
y                      float64
LATITUDE                object
LONGITUDE               object
Channel Type            object
dtype: object

 - DUE DATE, DATE CLOSED, and ST CREATE DATE will need to be converted to datetime format. 
 - Latitude and Longitude will need to be converted to float.

In [21]:
#Check for the number of missing data for each column
missing = pd.concat([pothole_total_df_raw.isnull().sum(), 100 * pothole_total_df_raw.isnull().mean()], axis=1)
missing.columns=['count', '%']
missing.sort_values(by='count', ascending=False)

                       count          %
MANAGEMENT DISTRICT  1750058  55.585101
TRASH DAY             920047  29.222406
RECYCLE DAY           781515  24.822372
RECYCLE QUAD          771889  24.516632
HEAVY TRASH DAY       752867  23.912458
TRASH QUAD            748950  23.788047
TAX ID                631004  20.041862
y                     321279  10.204419
x                     321279  10.204419
LATITUDE               98215   3.119491
LONGITUDE              98215   3.119491
COUNTY                 75730   2.405326
NEIGHBORHOOD           38487   1.222419
SR LOCATION            23674   0.751930
DISTRICT               17499   0.555801
DATE CLOSED            15355   0.487703
SLA                    13874   0.440664
KEY MAP                13540   0.430056
DUE DATE                5027   0.159667
OVERDUE                 5025   0.159603
Channel Type            5025   0.159603
Title                     23   0.000731
SR CREATE DATE             0   0.000000
STATUS                     0   0.000000
QUEUE                      0   0.000000
DIVISION                   0   0.000000
DEPARTMENT                 0   0.000000
SR TYPE                    0   0.000000

Target values for this dataset will be location columns. 
Therefore we can remove MANAGEMENT DISTRICT, TRASH DAY, RECYCLE DAY, RECYCLE QUAD, KEY MAP, HEAVY TRASH DAY, TRASH QUAD, TAX ID, Y, and X since these have many missing values and also are not needed.

#### Description of channels

* Column: Description
* CASE_NUMBER: Unique case ID
* Caller_CITY: Caller's City
* Caller_STATE: Caller's State
* Caller_ZIP: Caller's Zip
* SR_LOCATION: The location the service request is being called in for
* COUNTY: The county of the service request
* DISTRICT: The geocoded Council district of the service request
* NEIGHBORHOOD: The neighborhood of the geocoded service request
* TAX_ID: The HCAD property tax ID for the service request
* SERVICE_AREA: 
* KEY_MAP: Key map of the service request
* MANAGEMENT_DISTRICT: The management district of the service request location
* TRASH_DAY: The trash day of the service request location
* HEAVY_TRASH_DAY: The heavy trash day of the service request location
* RECYCLE_DAY: The recycling day of the service request location
* SR_CREATOR: The creator of the service request 
* DEPARTMENT: The department the service request is directed to (could be virtual department, e.g. 311 Help Line)
* DIVISION: The division the service request is directed to (e.g. Knowledge)
* SR_TYPE: The service request type
* QUEUE: The queue the service request is put into
* SLA: The service level agreement days. The number of days the department has from the create date to address the service request
* STATUS: Status of the service request. Closed does not necessarily mean the SR was solved to meet citizen needs.
* SR_CREATE_DATE: The create date of the service request
* DUE_DATE: The due date of the service request based on the SLA days
* DATE_CLOSED: The date the service request is closed
* OVERDUE: If the number is negative, it means the number days the service request was completed before the SLA was due (or, how many days are remaining to the SLA if the case is still open). If positive, it means the number of days the service request was complete after the SLA was due (or, how many days past the SLA if the case is still outstanding)
* x: The ESRI projection system X of the service request; this X is the best guess based on the P&D address points available at the time the service request was created
* y: The ESRI projection system Y of the service request; this Y is a the best guess based on the P&D address points available at the time the service request was created
* LATITUDE: Decimal Degrees longitude
* LONGITUDE: Decimal Degrees longitude
* Channel Type: How the ticket came in

In [22]:
#Check ST Types to make sure only pothole data is present
pothole_total_df_raw['SR TYPE'].value_counts()

Nuisance On Property               202154
Container Problem                  201656
Missed Garbage Pickup              177413
Water Leak                         153505
Traffic Signal Maintenance         145407
                                    ...
Open Records                            2
Vital Statistics Escalation             2
Curb Repair due to Utility Work         2
Driveway Replacement                    1
Pothole (App_Serv)                      1
Name: SR TYPE, Length: 288, dtype: int64

In [23]:
#Check to see how many Service Request Types are pothole related. The rest are not needed as they are for another service
SR_pothole = pothole_total_df_raw['SR TYPE'].str.lower()
SR_pothole.str.contains('pothole').sum()

61430

### Cleaning the Data (Pothole)

#### Checking for Inconsistencies and Removing Unnecessary Columns

In [24]:
#Create a copy of the pothole df to leave the original intact 
pothole_df_scrub = pothole_total_df_raw

In [25]:
#Limit to ST Type equal to pothole for only pothole information
pothole_df_scrub = pothole_df_scrub[pothole_df_scrub['SR TYPE'] == 'Pothole']

In [26]:
print(pothole_df_scrub.shape)
pothole_df_scrub.head()

(61316, 28)

,SR LOCATION,COUNTY,DISTRICT,NEIGHBORHOOD,TAX ID,TRASH QUAD,RECYCLE QUAD,TRASH DAY,HEAVY TRASH DAY,RECYCLE DAY,...,SR CREATE DATE,DUE DATE,DATE CLOSED,OVERDUE,Title,x,y,LATITUDE,LONGITUDE,Channel Type
CASE NUMBER,,,,,,,,,,,,,,,,,,,,,
11433929-101000452108,Intersection 13500 S POST OAK RD & 5400 WILLOM...,Harris County,K,CENTRAL SOUTHWEST,NaN,NaN,NaN,NaN,NaN,NaN,...,2011-11-09 06:49:13,2011-11-19 06:49:12,2011-11-22 09:26:28,3.11,Pothole,3.091633e+06,1.379371e+07,29.63033251,-95.46407063,Voice In
11433959-101000452225,"8142 BONNER, HOUSTON TX 77017",HARRIS,I,MEADOWBROOK / ALLENDALE,0591820220008,SE,SE,MONDAY,1st Monday,MONDAY-B,...,2011-11-09 08:55:49,2011-11-19 08:55:49,2011-12-01 09:20:03,12.02,Pothole,3.154563e+06,1.381395e+07,29.6805785,-95.26404703,Voice In
11455803-101000452382,"875 LOCKWOOD, HOUSTON TX 77020",HARRIS,B,GREATER FIFTH WARD,0402630000023,NaN,NaN,NaN,NaN,NaN,...,2011-11-09 10:32:12,2011-11-19 10:32:11,2012-01-25 11:25:38,67.04,Pothole,3.136677e+06,1.384265e+07,29.76103454,-95.31750208,Voice In
11434023-101000452387,"875 LOCKWOOD, HOUSTON TX 77020",HARRIS,B,GREATER FIFTH WARD,0402630000023,NaN,NaN,NaN,NaN,NaN,...,2011-11-09 10:35:11,2011-11-19 10:35:10,2011-11-29 12:49:13,10.09,Pothole,3.136677e+06,1.384265e+07,29.76103454,-95.31750208,Voice In
11434047-101000452444,"12501 BRIAR FOREST, HOUSTON TX 77077",HARRIS,G,BRIAR FOREST,0992570020007,NaN,NaN,NaN,NaN,NaN,...,2011-11-09 11:09:56,2011-11-19 11:09:56,2011-11-29 13:00:17,10.08,Pothole,3.046384e+06,1.383720e+07,29.75355695,-95.60246727,Voice In

#### Check for the uniqueness of each column

In [27]:
#Visualize the different forms of the entries of County. Not needed yet but in case this column is needed, can adjust at the time. 
pothole_df_scrub['COUNTY'].str.lower().unique()

array(['harris county', 'harris', nan, 'unknown', 'fort bend county',
       'fort bend', 'montgomery county', 'montgomery', 'galveston county'],
      dtype=object)

In [28]:
pothole_df_scrub.DEPARTMENT.str.lower().unique()

array(['pwe public works engineering'], dtype=object)

In [29]:
pothole_df_scrub.DISTRICT.str.lower().unique()

array(['k', 'i', 'b', 'g', 'unknown', 'f', 'c', 'a', 'j', 'd', 'h', 'e',
       nan], dtype=object)

In [30]:
pothole_df_scrub.Title.str.lower().unique()

array(['pothole', nan, 'pothole - 1362', ..., 'pothole - 426293',
       'pothole - 426290', 'pothole - 426289'], dtype=object)

In [31]:
pothole_df_scrub.DIVISION.str.lower().unique()

array(['street and drainage'], dtype=object)

In [32]:
pothole_df_scrub.SLA.unique()

array([18.])

In [33]:
pothole_df_scrub.QUEUE.str.lower().unique()

array(['rowm_streetmain', 'hpw_complaints', 'no queue assigned to user',
       'pu_water', 'defectivecase', 'cao_potholerescontact',
       '311_helpline'], dtype=object)

In [34]:
pothole_df_scrub.NEIGHBORHOOD.str.lower().unique()

array(['central southwest', 'meadowbrook / allendale',
       'greater fifth ward', 'briar forest', nan, 'alief',
       'meyerland area', 'clinton park tri-community',
       'eldridge / west oaks', 'university place', 'greater inwood',
       'neartown - montrose', 'trinity / houston gardens', 'unknown',
       'sharpstown', 'braeburn', 'westchase', 'spring branch east',
       'fairbanks / northwest crossing', 'greater third ward',
       'greater eastwood', 'south main', 'central northwest',
       'washington avenue coalition / memorial p',
       'greenway / upper kirby area', 'south belt / ellington',
       'afton oaks / river oaks area', 'golfcrest / bellfort / reveille',
       'sunnyside', 'brays oaks', 'addicks park ten', 'midtown',
       'clear lake', 'greater heights', 'downtown',
       'greater ost / south union', 'acres home', 'greater uptown',
       'iah / airport area', 'spring branch central', 'minnetex',
       'braeswood', 'denver harbor / port houston', 'northside/northline',
       'northside village', 'memorial', 'second ward', 'braeswood place',
       'near northside', 'eastex - jensen area', 'fourth ward',
       'independence heights', 'langwood', 'south park',
       'east little york / homestead', 'pleasantville area',
       'gulfgate riverview / pine valley', 'east houston',
       'willow meadows / willowbend area', 'fondren gardens',
       'spring branch north', 'spring branch west',
       'lazy brook / timbergrove', 'el dorado / oates prairie',
       'lawndale / wayside', 'edgebrook area', 'mid west',
       'kingwood area', 'fort bend houston', 'westbury', 'gulfton',
       'fort bend / houston', 'northshore', 'willowbrook', 'macgregor',
       'lazybrook / timbergrove', 'westwood', 'settegast',
       'greater greenspoint', 'medical center area', 'greater hobby area',
       'magnolia park', 'kashmere gardens', 'pecan park',
       'south acres / crestmont park', 'astrodome area', 'museum park',
       'hidden valley', 'carverdale', 'ost / south union', 'westbranch',
       'park place', 'harrisburg / manchester', 'briarforest area',
       'lake houston', 'hunterwood'], dtype=object)

#### Begin Data Cleaning...

In [35]:
# Drop extraneous columns and columns filled with a larger percentage of missing values
pothole_df_scrubbed = pothole_df_scrub.drop(columns = ['MANAGEMENT DISTRICT','TRASH DAY','RECYCLE DAY','HEAVY TRASH DAY','TRASH QUAD','x','y','Channel Type',
                                  'TAX ID','KEY MAP','RECYCLE QUAD','DEPARTMENT','Channel Type','DISTRICT','Title','DIVISION',
                                                       'SLA'])
print(pothole_df_scrubbed.shape)
print(pothole_df_scrubbed.columns)

(61316, 12)
Index(['SR LOCATION', 'COUNTY', 'NEIGHBORHOOD', 'SR TYPE', 'QUEUE', 'STATUS',
       'SR CREATE DATE', 'DUE DATE', 'DATE CLOSED', 'OVERDUE', 'LATITUDE',
       'LONGITUDE'],
      dtype='object')

Since Longitude and Latitude are needed for the analysis, if a record does not have that information, it will be dropped

In [36]:
#Check types again to make adjustments
pothole_df_scrubbed.dtypes

SR LOCATION        object
COUNTY             object
NEIGHBORHOOD       object
SR TYPE            object
QUEUE              object
STATUS             object
SR CREATE DATE     object
DUE DATE           object
DATE CLOSED        object
OVERDUE           float64
LATITUDE           object
LONGITUDE          object
dtype: object

In [37]:
#Convert date columns of interest to datetime formats, convert Latitude/Longitude to float
pothole_df_scrubbed[['DUE DATE','DATE CLOSED','SR CREATE DATE']] = pothole_df_scrubbed[['DUE DATE','DATE CLOSED','SR CREATE DATE']].astype('datetime64')
pothole_df_scrubbed['LONGITUDE'] = pd.to_numeric(pothole_df_scrubbed['LONGITUDE'],errors='coerce')
pothole_df_scrubbed['LATITUDE'] = pd.to_numeric(pothole_df_scrubbed['LATITUDE'],errors='coerce')

In [38]:
#Check once again for missing data
missing = pd.concat([pothole_df_scrubbed.isnull().sum(), 100 * pothole_df_scrubbed.isnull().mean()], axis=1)
missing.columns=['count', '%']
missing.sort_values(by='count', ascending=False)

                count         %
LATITUDE         4442  7.244439
LONGITUDE        4442  7.244439
COUNTY           3132  5.107965
NEIGHBORHOOD     1932  3.150890
SR LOCATION      1534  2.501794
DATE CLOSED        37  0.060343
SR TYPE             0  0.000000
QUEUE               0  0.000000
STATUS              0  0.000000
SR CREATE DATE      0  0.000000
DUE DATE            0  0.000000
OVERDUE             0  0.000000

In [39]:
#Remove columns where no latitude data is present
pothole_df_scrubbed = pothole_df_scrubbed[~pothole_df_scrubbed.LATITUDE.isnull()]
pothole_df_scrubbed.shape

(56874, 12)

In [40]:
#Re-check columns for missing data
missing = pd.concat([pothole_df_scrubbed.isnull().sum(), 100 * pothole_df_scrubbed.isnull().mean()], axis=1)
missing.columns=['count', '%']
missing.sort_values(by='count', ascending=False)

                count         %
NEIGHBORHOOD     1634  2.873018
COUNTY           1107  1.946408
DATE CLOSED        26  0.045715
SR LOCATION         0  0.000000
SR TYPE             0  0.000000
QUEUE               0  0.000000
STATUS              0  0.000000
SR CREATE DATE      0  0.000000
DUE DATE            0  0.000000
OVERDUE             0  0.000000
LATITUDE            0  0.000000
LONGITUDE           0  0.000000

In [41]:
pothole_df_scrubbed.shape

(56874, 12)

The rest of the null values in neighborhood, SR Location, County, and Date Closed won't affect the occurrences of the pothole so they can be left in but noted. If their values are needed, they can be identified later from the longitude and latitude.

In [42]:
pothole_df_scrubbed.dtypes

SR LOCATION               object
COUNTY                    object
NEIGHBORHOOD              object
SR TYPE                   object
QUEUE                     object
STATUS                    object
SR CREATE DATE    datetime64[ns]
DUE DATE          datetime64[ns]
DATE CLOSED       datetime64[ns]
OVERDUE                  float64
LATITUDE                 float64
LONGITUDE                float64
dtype: object

In [43]:
# Review CLeaned Data
pothole_df_scrubbed.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56874 entries, 11433929-101000452108 to 12445778-101004385862
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SR LOCATION     56874 non-null  object
 1   COUNTY          55767 non-null  object
 2   NEIGHBORHOOD    55240 non-null  object
 3   SR TYPE         56874 non-null  object
 4   QUEUE           56874 non-null  object
 5   STATUS          56874 non-null  object
 6   SR CREATE DATE  56874 non-null  datetime64[ns]
 7   DUE DATE        56874 non-null  datetime64[ns]
 8   DATE CLOSED     56848 non-null  datetime64[ns]
 9   OVERDUE         56874 non-null  float64
 10  LATITUDE        56874 non-null  float64
 11  LONGITUDE       56874 non-null  float64
dtypes: datetime64[ns](3), float64(3), object(6)
memory usage: 5.6+ MB

In [73]:
#Create date column that is just the date of SR Create Data without time
pothole_df_scrubbed['DATE'] = pothole_df_scrubbed['SR CREATE DATE'].dt.date
pothole_df_scrubbed.head()

,SR LOCATION,COUNTY,NEIGHBORHOOD,SR TYPE,QUEUE,STATUS,SR CREATE DATE,DUE DATE,DATE CLOSED,OVERDUE,LATITUDE,LONGITUDE,CREATION DATE,DATE
CASE NUMBER,,,,,,,,,,,,,,
11433929-101000452108,Intersection 13500 S POST OAK RD & 5400 WILLOM...,Harris County,CENTRAL SOUTHWEST,Pothole,ROWM_StreetMain,Closed,2011-11-09 06:49:13,2011-11-19 06:49:12,2011-11-22 09:26:28,3.11,29.630333,-95.464071,2011-11-09,2011-11-09
11433959-101000452225,"8142 BONNER, HOUSTON TX 77017",HARRIS,MEADOWBROOK / ALLENDALE,Pothole,ROWM_StreetMain,Closed,2011-11-09 08:55:49,2011-11-19 08:55:49,2011-12-01 09:20:03,12.02,29.680578,-95.264047,2011-11-09,2011-11-09
11455803-101000452382,"875 LOCKWOOD, HOUSTON TX 77020",HARRIS,GREATER FIFTH WARD,Pothole,ROWM_StreetMain,Closed,2011-11-09 10:32:12,2011-11-19 10:32:11,2012-01-25 11:25:38,67.04,29.761035,-95.317502,2011-11-09,2011-11-09
11434023-101000452387,"875 LOCKWOOD, HOUSTON TX 77020",HARRIS,GREATER FIFTH WARD,Pothole,ROWM_StreetMain,Closed,2011-11-09 10:35:11,2011-11-19 10:35:10,2011-11-29 12:49:13,10.09,29.761035,-95.317502,2011-11-09,2011-11-09
11434047-101000452444,"12501 BRIAR FOREST, HOUSTON TX 77077",HARRIS,BRIAR FOREST,Pothole,ROWM_StreetMain,Closed,2011-11-09 11:09:56,2011-11-19 11:09:56,2011-11-29 13:00:17,10.08,29.753557,-95.602467,2011-11-09,2011-11-09

In [74]:
#Groupby Date to view data and SR Create count
pothole_grouped = pothole_df_scrubbed.groupby('DATE')['SR CREATE DATE'].count()
len(pothole_grouped)

3253

In [87]:
#Check for the max number of SR's created in a day
pothole_grouped.sort_values(ascending=False).head()

DATE
2016-01-14    234
2016-01-13    213
2016-01-19    211
2016-01-20    180
2016-03-12    168
Name: SR CREATE DATE, dtype: int64

In [76]:
pothole_grouped.tail()

DATE
2020-10-29    15
2020-10-30    10
2020-10-31     4
2020-11-01    10
2020-11-02    21
Name: SR CREATE DATE, dtype: int64

### Exploring the Data (Weather)

In [77]:
weather_total_df_raw.head()

       STATION       DATE  PRCP  TAVG  TMAX  TMIN  TOBS
0  USC00414327 2011-01-01  0.00   NaN   NaN   NaN   NaN
1  USC00414327 2011-01-02  0.00   NaN   NaN   NaN   NaN
2  USC00414327 2011-01-03  0.00   NaN   NaN   NaN   NaN
3  USC00414327 2011-01-04  0.00   NaN   NaN   NaN   NaN
4  USC00414327 2011-01-05  1.14   NaN   NaN   NaN   NaN

#### Description of channels

* Station: One of the weather station from around the Houston area
* Date: Date
* PRCP: Precipitation for the day (inches)
* TAVG: Average Temperature (F)
* TMAX: Max Temperature (F)
* TMIN: Min Temperature (F)
* TOBS: Temperature at time of Observations (F)

** Note that not all stations took all 3 measurements and that stations are spread around Houston

In [78]:
#Check shape of weather df
weather_total_df_raw.shape

(64445, 7)

In [79]:
weather_total_df_raw.describe()

               PRCP         TAVG          TMAX          TMIN         TOBS
count  64445.000000  7556.000000  32490.000000  32493.000000  7176.000000
mean       0.144633    63.273293     74.040166     54.319515    57.399666
std        0.528854    19.270510     18.631504     19.339048    19.361342
min        0.000000   -26.000000    -15.000000    -43.000000   -32.000000
25%        0.000000    52.000000     64.000000     42.000000    46.000000
50%        0.000000    67.000000     78.000000     57.000000    61.000000
75%        0.030000    79.000000     89.000000     71.000000    73.000000
max       19.140000    91.000000    109.000000     85.000000    87.000000

In [80]:
weather_total_df_raw.dtypes

STATION            object
DATE       datetime64[ns]
PRCP              float64
TAVG              float64
TMAX              float64
TMIN              float64
TOBS              float64
dtype: object

In [81]:
# Find all missing values in the weather df
missing = pd.concat([weather_total_df_raw.isnull().sum(), 100 * weather_total_df_raw.isnull().mean()], axis=1)
missing.columns=['count', '%']
missing.sort_values(by='count', ascending=False)

         count          %
TOBS     57269  88.864924
TAVG     56889  88.275273
TMAX     31955  49.584917
TMIN     31952  49.580262
STATION      0   0.000000
DATE         0   0.000000
PRCP         0   0.000000

In [82]:
#Check for the largest count of values. With most days showing no rain based on the results. 
weather_total_df_raw.PRCP.value_counts()

0.00     45539
0.01      1454
0.02      1338
0.03       911
0.04       735
         ...
4.09         1
6.23         1
4.19         1
12.07        1
4.31         1
Name: PRCP, Length: 536, dtype: int64

#### Begin Data Cleaning...

In [57]:
#Rather than drop the value of null precipiation, will fill in with 0 as this will show no precipiation for that day
#rather than removing the day all together
weather_df_scrub = weather_total_df_raw
weather_df_scrub['DATE'] = weather_df_scrub['DATE'].astype('datetime64')
weather_df_scrub.PRCP = weather_total_df_raw.PRCP.fillna(value = 0)

In [58]:
weather_df_scrub.dtypes

STATION            object
DATE       datetime64[ns]
PRCP              float64
TAVG              float64
TMAX              float64
TMIN              float64
TOBS              float64
dtype: object

In [59]:
missing = pd.concat([weather_df_scrub.isnull().sum(), 100 * weather_df_scrub.isnull().mean()], axis=1)
missing.columns=['count', '%']
missing.sort_values(by='count', ascending=False)

         count          %
TOBS     57269  88.864924
TAVG     56889  88.275273
TMAX     31955  49.584917
TMIN     31952  49.580262
STATION      0   0.000000
DATE         0   0.000000
PRCP         0   0.000000

While it appears there is more missing data for TOBS and TAVG, it is important to note that not all stations had all readings taken. For stations that did not have a value for TOBS and TAVG, the other stations average will be substituted for it

In [60]:
weather_df_scrub.STATION.unique()

array(['USC00414327', 'US1ARPY0002', 'USC00224265', 'USW00012977',
       'US1MOFSA215', 'CA001073615', 'US1MOTX0041', 'US1TXHRR176',
       'USC00234019', 'US1MOTX0007', 'USW00053910', 'US1TXHRR147',
       'USC00414325', 'US1TXHRR165', 'USC00503731', 'US1TXHRR269',
       'USW00012918', 'US1OHSH0011', 'USC00414333', 'US1MOTX0040',
       'US1TXHRR209', 'USW00012960', 'USW00012975', 'US1TXHRR232'],
      dtype=object)

In [61]:
#Check for counts of data present for each station
weather_df_scrub.groupby('STATION').count()

             DATE  PRCP  TAVG  TMAX  TMIN  TOBS
STATION
CA001073615  3429  3429  2016  3420  3423     0
US1ARPY0002  2673  2673     0     0     0     0
US1MOFSA215  3283  3283     0     0     0     0
US1MOTX0007  3580  3580     0     0     0     0
US1MOTX0040  1317  1317     0     0     0     0
US1MOTX0041   279   279     0     0     0     0
US1OHSH0011  3376  3376     0     0     0     0
US1TXHRR147  1386  1386     0     0     0     0
US1TXHRR165  1883  1883     0     0     0     0
US1TXHRR176  2678  2678     0     0     0     0
US1TXHRR209  2283  2283     0     0     0     0
US1TXHRR232  1498  1498     0     0     0     0
US1TXHRR269   407   407     0     0     0     0
USC00224265  2294  2294     0  2267  2267  2267
USC00234019  3471  3471     0  3469  3468     0
USC00414325  3581  3581     0     0     0     0
USC00414327  3403  3403     0     0     0     0
USC00414333  3575  3575     0  3572  3572  3499
USC00503731  2093  2093     0  1814  1813  1410
USW00012918  3592  3592  2770  3592  3592     0
USW00012960  3592  3592  2770  3592  3592     0
USW00012975  3590  3590     0  3587  3588     0
USW00012977  3591  3591     0  3588  3589     0
USW00053910  3591  3591     0  3589  3589     0

In [62]:

weather_df_scrub.groupby('DATE').count()

            STATION  PRCP  TAVG  TMAX  TMIN  TOBS
DATE
2011-01-01       12    12     0     8     8     1
2011-01-02       12    12     0     8     8     1
2011-01-03       11    11     0     7     7     1
2011-01-04       11    11     0     7     7     1
2011-01-05       11    11     0     7     7     1
...             ...   ...   ...   ...   ...   ...
2020-10-28       17    17     3     8     8     1
2020-10-29       17    17     3     8     8     1
2020-10-30       15    15     3     8     8     1
2020-10-31       11    11     2     6     6     0
2020-11-01        6     6     0     0     0     0

[3593 rows x 6 columns]

In [94]:
#Group the data by date and use agg dict to deteremine how to combine the data
weather_agg_dict = {'STATION':'count', 'PRCP':'mean','TAVG':'mean','TMAX':'mean','TMIN':'mean','TOBS':'mean'}
weather_grouped = weather_df_scrub.groupby('DATE')[['STATION','PRCP','TAVG','TMAX','TMIN','TOBS']].agg(weather_agg_dict)
weather_grouped

            STATION      PRCP       TAVG       TMAX       TMIN  TOBS
DATE
2011-01-01       12  0.113333        NaN  58.750000  37.625000  46.0
2011-01-02       12  0.000000        NaN  50.375000  31.625000  38.0
2011-01-03       11  0.000000        NaN  57.571429  32.285714  50.0
2011-01-04       11  0.191818        NaN  64.857143  45.428571  64.0
2011-01-05       11  0.163636        NaN  67.857143  46.428571  52.0
...             ...       ...        ...        ...        ...   ...
2020-10-28       17  0.198824  48.333333  59.500000  44.500000  67.0
2020-10-29       17  0.450000  45.666667  62.625000  43.125000  57.0
2020-10-30       15  0.108000  49.666667  64.750000  44.375000  46.0
2020-10-31       11  0.005455  55.500000  75.500000  45.666667   NaN
2020-11-01        6  0.003333        NaN        NaN        NaN   NaN

[3593 rows x 6 columns]

In [95]:
weather_grouped.index

DatetimeIndex(['2011-01-01', '2011-01-02', '2011-01-03', '2011-01-04',
               '2011-01-05', '2011-01-06', '2011-01-07', '2011-01-08',
               '2011-01-09', '2011-01-10',
               ...
               '2020-10-23', '2020-10-24', '2020-10-25', '2020-10-26',
               '2020-10-27', '2020-10-28', '2020-10-29', '2020-10-30',
               '2020-10-31', '2020-11-01'],
              dtype='datetime64[ns]', name='DATE', length=3593, freq=None)

In [68]:
missing_temp = pd.concat([Temperature_Avgs.isnull().sum(), 100 * Temperature_Avgs.isnull().mean()], axis=1)
missing_temp.columns=['count', '%']
missing_temp.sort_values(by='count', ascending=False)

      count          %
TAVG    822  22.877818
TOBS      2   0.055664
TMAX      1   0.027832
TMIN      1   0.027832

Only one Date appears to be missing all the temperature values

In [69]:
weather_df_scrubbed = weather_df_scrub.groupby('DATE').mean()
weather_df_scrubbed

                PRCP       TAVG       TMAX       TMIN  TOBS
DATE
2011-01-01  0.113333        NaN  58.750000  37.625000  46.0
2011-01-02  0.000000        NaN  50.375000  31.625000  38.0
2011-01-03  0.000000        NaN  57.571429  32.285714  50.0
2011-01-04  0.191818        NaN  64.857143  45.428571  64.0
2011-01-05  0.163636        NaN  67.857143  46.428571  52.0
...              ...        ...        ...        ...   ...
2020-10-28  0.198824  48.333333  59.500000  44.500000  67.0
2020-10-29  0.450000  45.666667  62.625000  43.125000  57.0
2020-10-30  0.108000  49.666667  64.750000  44.375000  46.0
2020-10-31  0.005455  55.500000  75.500000  45.666667   NaN
2020-11-01  0.003333        NaN        NaN        NaN   NaN

[3593 rows x 5 columns]

In [70]:
weather_df_scrubbed.head()

                PRCP  TAVG       TMAX       TMIN  TOBS
DATE
2011-01-01  0.113333   NaN  58.750000  37.625000  46.0
2011-01-02  0.000000   NaN  50.375000  31.625000  38.0
2011-01-03  0.000000   NaN  57.571429  32.285714  50.0
2011-01-04  0.191818   NaN  64.857143  45.428571  64.0
2011-01-05  0.163636   NaN  67.857143  46.428571  52.0

In [71]:
weather_df_scrubbed.tail()

                PRCP       TAVG    TMAX       TMIN  TOBS
DATE
2020-10-28  0.198824  48.333333  59.500  44.500000  67.0
2020-10-29  0.450000  45.666667  62.625  43.125000  57.0
2020-10-30  0.108000  49.666667  64.750  44.375000  46.0
2020-10-31  0.005455  55.500000  75.500  45.666667   NaN
2020-11-01  0.003333        NaN     NaN        NaN   NaN

In [72]:
weather_df_scrubbed.index

DatetimeIndex(['2011-01-01', '2011-01-02', '2011-01-03', '2011-01-04',
               '2011-01-05', '2011-01-06', '2011-01-07', '2011-01-08',
               '2011-01-09', '2011-01-10',
               ...
               '2020-10-23', '2020-10-24', '2020-10-25', '2020-10-26',
               '2020-10-27', '2020-10-28', '2020-10-29', '2020-10-30',
               '2020-10-31', '2020-11-01'],
              dtype='datetime64[ns]', name='DATE', length=3593, freq=None)

## Summary of both cleaned DFs

#### This is a summary of the dataframes cleaned.

### Pothole Data

In [89]:
pothole_df_scrubbed.head()

,SR LOCATION,COUNTY,NEIGHBORHOOD,SR TYPE,QUEUE,STATUS,SR CREATE DATE,DUE DATE,DATE CLOSED,OVERDUE,LATITUDE,LONGITUDE,CREATION DATE,DATE
CASE NUMBER,,,,,,,,,,,,,,
11433929-101000452108,Intersection 13500 S POST OAK RD & 5400 WILLOM...,Harris County,CENTRAL SOUTHWEST,Pothole,ROWM_StreetMain,Closed,2011-11-09 06:49:13,2011-11-19 06:49:12,2011-11-22 09:26:28,3.11,29.630333,-95.464071,2011-11-09,2011-11-09
11433959-101000452225,"8142 BONNER, HOUSTON TX 77017",HARRIS,MEADOWBROOK / ALLENDALE,Pothole,ROWM_StreetMain,Closed,2011-11-09 08:55:49,2011-11-19 08:55:49,2011-12-01 09:20:03,12.02,29.680578,-95.264047,2011-11-09,2011-11-09
11455803-101000452382,"875 LOCKWOOD, HOUSTON TX 77020",HARRIS,GREATER FIFTH WARD,Pothole,ROWM_StreetMain,Closed,2011-11-09 10:32:12,2011-11-19 10:32:11,2012-01-25 11:25:38,67.04,29.761035,-95.317502,2011-11-09,2011-11-09
11434023-101000452387,"875 LOCKWOOD, HOUSTON TX 77020",HARRIS,GREATER FIFTH WARD,Pothole,ROWM_StreetMain,Closed,2011-11-09 10:35:11,2011-11-19 10:35:10,2011-11-29 12:49:13,10.09,29.761035,-95.317502,2011-11-09,2011-11-09
11434047-101000452444,"12501 BRIAR FOREST, HOUSTON TX 77077",HARRIS,BRIAR FOREST,Pothole,ROWM_StreetMain,Closed,2011-11-09 11:09:56,2011-11-19 11:09:56,2011-11-29 13:00:17,10.08,29.753557,-95.602467,2011-11-09,2011-11-09

### Weather Data

In [90]:
weather_df_scrubbed.head()

                PRCP  TAVG       TMAX       TMIN  TOBS
DATE
2011-01-01  0.113333   NaN  58.750000  37.625000  46.0
2011-01-02  0.000000   NaN  50.375000  31.625000  38.0
2011-01-03  0.000000   NaN  57.571429  32.285714  50.0
2011-01-04  0.191818   NaN  64.857143  45.428571  64.0
2011-01-05  0.163636   NaN  67.857143  46.428571  52.0

In [96]:
weather_grouped.head()

            STATION      PRCP  TAVG       TMAX       TMIN  TOBS
DATE
2011-01-01       12  0.113333   NaN  58.750000  37.625000  46.0
2011-01-02       12  0.000000   NaN  50.375000  31.625000  38.0
2011-01-03       11  0.000000   NaN  57.571429  32.285714  50.0
2011-01-04       11  0.191818   NaN  64.857143  45.428571  64.0
2011-01-05       11  0.163636   NaN  67.857143  46.428571  52.0

## Extract Data

In [97]:
datapath = '../data'
if not os.path.exists(datapath):
    os.mkdir(datapath)

In [98]:
datapath_pothole = os.path.join(datapath, 'pothole_cleaned.csv')
if not os.path.exists(datapath_pothole):
    pothole_df_scrubbed.to_csv(datapath_pothole, index=False)

In [99]:
datapath_weather = os.path.join(datapath, 'weather_summary.csv')
if not os.path.exists(datapath_weather):
    weather_df_scrubbed.to_csv(datapath_weather, index=False)